@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.rainbow-text {
    background-image: linear-gradient(45deg, #f06, #9f6, #06f, #f06, #9f6, #06f);
    background-size: 300% 300%;
    animation: rainbow 5s linear infinite;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: bold;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  body {
    background-color: lightgray;
}
